[commit]
	gpgSign = false
[core]
	compression = 1
[credential]
	helper = cache --timeout=86400
[fetch]
	writeCommitGraph = true
[gc]
	aggressiveDepth = 100
	aggressiveWindow = 500
	auto = 0
	pruneExpire = now
[maintainance]
	auto = false
[pack]
	writeReverseIndex = true
	useSparse = true
[pull]
	ff = only
[push]
	default = simple
	gpgSign = false
[receive]
	autogc = false
[repack]
	writeBitmaps = true
