[advice]
	detachedHead = false
	resetNoRefresh = false
	skippedCherryPicks = false
	statusAheadBehind = false
	statusUoption = false
	suggestDetachingHead = false
[commit]
	gpgSign = false
[core]
	abbrev = 12
	bigFileThreshold = 16m
	compression = 7
	deltaBaseCacheLimit = 128m
	looseCompression = 2
[credential]
	helper = cache --timeout=86400
[fetch]
	writeCommitGraph = true
[gc]
	aggressiveDepth = 100
	aggressiveWindow = 500
	auto = 0
	bigPackThreshold = 1g
	pruneExpire = now
[grep]
	threads = 2
[index]
	threads = 2
[init]
	defaultBranch = main
[log]
	showSignature = false
[maintainance]
	auto = false
[pack]
	compression = 7
	deltaCacheLimit = 2048
	packSizeLimit = 1g
	threads = 4
	useSparse = true
	writeBitmapLookupTable = true
	writeReverseIndex = true
[pull]
	ff = only
[push]
	default = simple
	gpgSign = false
[receive]
	autogc = false
	keepAlive = 25
[reftable]
	blockSize = 65536
[repack]
	writeBitmaps = true
