#!/bin/zsh

z-gobin-fixup

z-gpg-agent
z-ssh-agent

z-adjust-docker

## systemctl status podman.socket
export DOCKER_HOST=unix:///run/podman/podman.sock

## systemctl --user status podman.socket
export DOCKER_HOST=unix://${XDG_RUNTIME_DIR}/podman/podman.sock
